body {
    /* background-image: url(images/body.jpg); */
    background-color: rgba(193, 240, 255, 0.5);
    text-align: center;
    margin-top: 15%;
}

#titre {
    font-size: 40px;
}

form {
    width: 280px;
    height: 260px;
    margin: 200px auto;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0, .4);
    text-align: center;
    padding-top: 1px;
}

form .form-control{
    border: 1px solid #a6a6a6;
    width: 230px;
    height: 40px;
    border-radius: 3px;
    margin-top: 10px;
    padding-left: 10px;
    color: #6c6c6c;
    background: #fcfcfc;
    outline: none;
}

form .form-control:focus {
    -moz-box-shadow: 5px 5px 2px 1px #cdffff;
    -webkit-box-shadow: 5px 5px 2px 1px #cdffff;
    -o-box-shadow: 5px 5px 2px 1px #cdffff;
    box-shadow: 5px 5px 2px 1px #cdffff;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cdffff, Direction=134, Strength=2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

button {
    border-radius: 3px;
    border: 1px solid #336895;
    box-shadow: inset 0 1px 0 #8dc2f0;
    width: 242px;
    height: 40px;
    margin-top: 20px;

    background: linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
    background: -o-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
    background: -moz-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
    background: -webkit-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
    background: -ms-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);

    cursor: pointer;
    color: white;
    font-weight: bold;
    text-shadow: 0 -1px 0 #336895;

    font-size: 13px;
}

button:hover {
    background: linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
    background: -o-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
    background: -moz-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
    background: -webkit-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
    background: -ms-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
}

button:active {
    background: linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
    background: -o-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
    background: -moz-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
    background: -webkit-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
    background: -ms-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);

    box-shadow: inset 0 0 2px rgba(0,0,0, .3), 0 1px 0 white;
}

.boutton {
	width:100px;
	height:100px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
}

#erreur {
  color:red;
  font-size: 20px;
}
