/*                         Menu vertical*/

body {
    margin: 0px;
    font-family: Arial;
}
/***********************************************************************/
/************ menu horizontal sur les pages*****************************/
/***********************************************************************/
.menu_horizontal{
    position: fixed;
    margin: 0px 0px 0px 0px;
    background-color: #edecec;
    width: 100%;
    height: 50px;
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: #cacaca;
}

/************ image du logo       **************************************/
.logo {
    top: 2px;
    left: 15px;
    right: 5px;
    bottom: 5px;
	position: absolute;
    float:left;
    z-index: 2;
}

.logo2 {
    align-content: center;
    border-radius:1px;
    width: 35px;
    height: 45px;
    float:left;
}

/************ titre de la page    **************************************/
.titre {
    margin-top: 2px;
    margin-left: 70px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size : 40px;
    float:left;
    z-index: 2;
}

/************ barre de recherche  **************************************/
.barre_de_recherche{
    position: top;
    display: block;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-right: 75px;
    text-align: center;
    float: right;
    z-index: 2;
}

.saisie{
    align-content: top;
    border-style: solid;
    border-width: 2px;
    border-color: #cacaca;
    border-radius: 4px;
    padding: 3px 10px 3px 18px;
    width: 25em;
    font-weight: normal;
    font-size : 20px;
}

.bouton_de_recherche {
    border-style: solid;
    border-width: 2px;
    border-color: #4CAF50;
    border-radius: 4px;
    background-color: #4CAF50;
    padding: 3px 16px 3px 16px;
    font-weight: normal;
    font-size : 20px;
    color: white;
}

.bouton_de_recherche img {
    align-content:center;
    padding: 3px 16px 3px 8px;
    position: top;
    width: 15px;
    height: 15px;
}

/***********************************************************************/
/************ menu vertical sur les pages  *****************************/
html>body .menu_vertical {
    position: fixed;
    margin-top: 54px;
    height: 100%;
    background-color: #edecec;
    width: 299px;
}

.menu_vertical {
    position: relative;
    margin-right: 80%;
}

.menu_vertical input{
    position: absolute;
    margin-right: 80%;
    background-color: #edecec;
    width:300px;
    text-align: justify;
    height: 100%;
    display: block;
    z-index: 9;
    border-style: solid;
    border-width: 2px;
    border-color: #cacaca;
    border-left: white;
    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2;
    background-color: #edecec;
    border-right: 12px solid #edecec;
}

.menu_vertical .liens{
    border-right: 2px solid #cacaca;
    background-color: #edecec;
    width: 300px;
    padding-top: 350px;
}

.menu_vertical a {
    color: black;
    display: block;
    align-content: center;
    padding:12px;
    text-decoration: none;
    font-size: 28px;
}

.menu_vertical a:hover {
    background-color: #767676;
}

.menu_vertical a.active {
    background-color: #4CAF50;
    color: white;
}

/************ image du profil      *************************************/
.menu_vertical .image_profil1 {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
	position: fixed;
    float:left;
    z-index: 2;
}

.menu_vertical .image_profil2 {
    align-content: center;
    border-radius:50px;
    float:left;
}

/***********************************************************************/

/***********************************************************************/
/************ contenu de la page ***************************************/
/***********************************************************************/
.entete{
    position: fixed;
    float:right;
    display:block;
    top: 54px;
    left: 302px;
    padding: 1em 3em 1em 6em;
    width: 100%;
    height: 31px;
    text-align: justify;
    font-size : 30px;
    border-bottom: 2px solid #cacaca;
    background-color: #0093ff;
    color:white;
}
.carreG{
    position: fixed;
    top: 117px;
    left: 302px;
    width: 30px;
    height: 50px;
    background-color: #0093ff;
    z-index: 1;
}
.carreD{
    position: fixed;
    right: 0px;
    top: 117px;
    width: 30px;
    height: 50px;
    background-color: #0093ff;
    z-index: 1;
}
.rondG {
    position: fixed;
    top: 144px;
    left: 300px;
    width: 30px;
    height: 30px;

    border-color: #cacaca;
    border-top-width: 2px;
    border-top-style: solid;
    border-left-style: solid;
    border-left-width: 2px;

    border-radius: 30px 0px 0px 0px;
    background-color: #edecec;
    z-index: 2;
}

.rondD {
    position: fixed;
    right: 0px;
    top: 144px;
    width: 30px;
    height: 30px;

    border-color: #cacaca;
    border-top-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-right-width: 2px;

    border-radius: 0px 30px 0px 0px;
    background-color: #edecec;
    z-index: 1;
}

.page{
    display:block;
    background-color:#edecec;
    margin-top: 127px;
    margin-left: 300px;
    padding: 1em 3em 1em 4em;
    text-align: justify;
    border: 2px solid #cacaca;
    height: 100%;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.9);
    z-index: 3;
}


.content{
    display:block;
    text-align: justify;
    background-color:#edecec;
    border:0px solid #cacaca;
    border-radius:30px 0px 0px 0px;
    z-index: 1;
}


.titreFrm{
    color : #6c6c6c;
}


/*                      Corps*/
#titre {
  text-align: center;
  font-size : 30px;
  margin-top : 2%;
  margin-bottom : 2%;
}

.champ {
  padding-top: 1%;
  text-align: center;
}

.contenu {
  padding-top : 5%;
}

#soustitre {
  text-align : center;
  font-size : 25px;
  padding-top : 1.5%;
  padding-bottom: 1.5%;
}

.recherche {
  text-align : center;
  padding-top : 1%;
  padding-bottom: 1%;
  align : center;
  background-color: #eeeeee;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: #dddddd;   /* Couleur de la bordure  */
  padding: 10px 10px 10px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
}

  /* Champ de saisie */
    #searchthis #search {
    background-color: #ffffff;   /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 1px;   /* Epaisseur de la bordure  */
    border-color: #dddddd;   /* Couleur de la bordure  */
    padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
    width: 98.5%;   /* Permet d'ajuster la largeur du champ de saisie à 100% */
    box-sizing: border-box;   /* Important */
    font-family: Lato;   /* Police du texte */
    font-size: 12px;   /* Taille de la police du texte */
    font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
    letter-spacing: 1px;   /* Espacement des caractères */
  }

  /* Bouton valider */
  #searchthis #search-btn {
    background-color: #0d47ac;   /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 1px;   /* Epaisseur de la bordure  */
    border-color: #00c4f5;   /* Couleur de la bordure  */
    padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
    width: 98.5%;   /* Permet d'ajuster la largeur du champ de saisie à 100% */
    box-sizing: border-box;   /* Important */
    font-family: PT sans;   /* Police du texte */
    font-size: 13px;   /* Taille de la police du texte */
    font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
    letter-spacing: 2px;   /* Espacement des caractères */
    margin: 10px 0 0 0;   /* Espace autour du bouton : haut droite bas gauche  */
    text-transform: uppercase;   /* Transforme le texte en majuscules */
    color: #ffffff;   /* Couleur du texte */
  }

  body {
    font-family: Arial;
  }

  * {
    box-sizing: border-box;
  }

  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #0d47ac;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-color:#00c4f5;
  }

  form.example button:hover {
    background: #00c4f5; /* couleur quand souris dessus */
    cursor: pointer;   /* Apparence du curseur comme pour un lien */
    border-color:#0d47ac; /* couleur du bord quand souris dessus */
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

#erreur {
  padding-top : 1%;
  text-align: center;
  color:red;
  font-size: 20px;
}

.amis {
    margin-bottom: 10px;
    margin-top: 10px;
    /*text-align : center;*/
    padding-top : 1%;
    padding-bottom: 1%;
    align : center;
    background-color: #eeeeee;   /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 1px;   /* Epaisseur de la bordure  */
    border-color: #dddddd;   /* Couleur de la bordure  */
    padding: 10px 10px 10px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
    font-size : 20px;
    font-weight: bold;
    position: relative;
}
}

.imgamis {
  width:25%;
  display: inline-block;
}

.infamis {
  position: absolute;
  top: 50%; /* poussé de la moitié de hauteur du référent */
  left:50%;
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  text-align: center;
  display: inline-block;
  padding-left: 10px;
}

.boutons {
  padding-top: 15px;
}

.b {
  display:inline;
  padding-left:5px;
  padding-right:5px;
  padding-bottom: 5px;
}

#modif {
  padding-top: 5px;
  padding-bottom: 5px;
}
